<a href="https://colab.research.google.com/github/ayeshuukhan/Programming-for-AI/blob/main/Lab%203/PROGAI_TASK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

In this task we have to make the list of fruits and print the first and lst element of the fruits

In [ ]:
fruits = ["Mango", "guava", "Grapes", "Avacado", "Apricot", "Blueberry"]
print("First Item in the list is : ", fruits[0])
print("Last Item in the list is : ", fruits[5])
print(fruits)

First Item in the list is :  Mango
Last Item in the list is :  Blueberry
['Mango', 'guava', 'Grapes', 'Avacado', 'Apricot', 'Blueberry']

# Task 2

In this first we have to create list of colors then we have to change the second item in the list to blue.

In [ ]:
Colors = ["Pink","Purple", "Brown", "Sky Blue", "Turquish", "Yellow"]
Colors[2] = "No Color"
print( "Updated Colors: ", Colors)

Updated Colors:  ['Pink', 'Purple', 'No Color', 'Sky Blue', 'Turquish', 'Yellow']

# Task 3

In this we have to create list of numbers and we have to add number 10 to the list and we know that when we have to add something in the list we use append

In [ ]:
Numbers = ["23", "45", "65", "24", "85"]
Numbers.append(10)
print("Updated numbers:", Numbers)

Updated numbers: ['23', '45', '65', '24', '85', 10]

# Task 4

In this task we have to create the list of animals and remove the third item from the list. So we use del to remove an item

In [ ]:
Animals = ["Elephant", "Dog", "Leapord", "Hedgehog", "Zebra", "Lion", "Tiger"]
del Animals[2]
print("Updated Animals", Animals)

Updated Animals ['Elephant', 'Dog', 'Hedgehog', 'Zebra', 'Lion', 'Tiger']

# Task 5

In this we have to create the list of cities and we have to apply the loop through the list and print each city.

In [ ]:
Cities = ["Islamabad","Karachi","Haripur","Mianwali","Peshawar"]
for city in Cities:
    print(city)

Islamabad
Karachi
Haripur
Mianwali
Peshawar

# Task 6

In this task we have to create list from 1 to 10 numbers so most probably it 1-11 numbers because it starts from 0 index then we have to use the list comprehension to create new list containing the squre of each number.

In [ ]:
Numbers = [i for i in range (1,11)] #list Comprehension
squared_Numbers = [x**2 for x in Numbers] #formula to apply square
print ("Squared numbers = ", squared_Numbers)

Squared numbers =  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Task 7

In this we have to create a list and sort the list alphabetically, and for that we use sort function

In [ ]:
Names = ["Zoha","Asharib","Basit"]
Names.sort()
print("Names In Alphabetical Order: ", Names)

Names In Alphabetical Order:  ['Asharib', 'Basit', 'Zoha']

# Task 8

In this task we have to make the list of fruits and then copy the list into new list. e use Copy function

In [ ]:
fruits = ["Mango", "guava", "Grapes", "Avacado", "Apricot", "Blueberry"]
fruits_copy = fruits.copy()
print("Copied list:", fruits_copy)

Copied list: ['Mango', 'guava', 'Grapes', 'Avacado', 'Apricot', 'Blueberry']

# Task 9

In this task we have to create 2 lists of numbers and join 2 lists.

In [ ]:
list1 = [1, 2, 3, 66, 99]
list2 = [4, 5, 6, 123, 456]
joined_list = list1 + list2
print("Joined list:", joined_list)

Joined list: [1, 2, 3, 66, 99, 4, 5, 6, 123, 456]

# Task 10

In this we have to create the list then use append method to add the new fruit and then we use pop() method to remove the last fruit

In [ ]:
fruits = ["Mango", "guava", "Grapes", "Avacado", "Apricot", "Blueberry"]
fruits.append("Apple")
print("Updated fruits:", fruits)
last_fruit = fruits.pop()
print("Removed fruit:", last_fruit)

Updated fruits: ['Mango', 'guava', 'Grapes', 'Avacado', 'Apricot', 'Blueberry', 'Apple']
Removed fruit: Apple

# Task 11

In this task we have to create 2 lists, one containing numbers from  6 - 10 and other containg 1-5 then we have to use list comprehension to create new list that contain sum of coresponding elements from 2 lists

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
combined_list = [x + y for x, y in zip(list1, list2)]
print("Combined list:", combined_list)

Combined list: [7, 9, 11, 13, 15]

# Task 12

In this we have to Create a list of numbers and Use list comprehension to create a new list containing only the even numbers and Sort the new list in descending order

In [ ]:
numbers = [23, 56, 11, 78, 45, 32]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers:", even_numbers)

Sorted even numbers: [78, 56, 32]

# Task 13

In this we have to Create a list of numbers from 1 to 10 and Use list slicing to create a new list containing only the even numbers from the original list, in reverse order

In [ ]:
numbers = list(range(1, 11))
even_numbers_reverse = numbers[1::2][::-1]
print("Even numbers in reverse:", even_numbers_reverse)

Even numbers in reverse: [10, 8, 6, 4, 2]

# Task 14

In this we have to create two lists one contain even numbers and other contain odd numbers and we use list method to combine two lists into a single list

In [ ]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers): #List comprehension
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

Combined list: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]